body {
  margin: 0;  
  font-family: Arial, sans-serif;
  background-image: url(../image/image.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background: #1F3C88; 
  padding: 10px 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.logo {
  width: 70px;   
  height: auto;   
}

.navbar ul {
  list-style: none; 
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px; 
}

.navbar .nav-button {
  text-decoration: none; 
  color: #FDFEFE; 
  font-weight: 600;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.navbar .nav-button:hover {
  background-color: #5DADE2; 
  color: #fff;
}

.main-content {
  display: flex; 
  max-width: 700px; 
  margin: 50px auto; 
  background-color: transparent; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0,0,0,0.1); 
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto;
  flex-wrap: wrap;
}

.info-box {
  background-color: rgba(255,255,255,0.9);
  padding: 15px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  min-width: 180px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.info-box span {
  font-size: 22px;
}

.info-box p {
  margin: 0;
  color: #2C3E50;
  font-weight: 600;
}

form {
  background-color: rgba(255, 255, 255, 0.85);
  flex: 1; 
  padding: 40px;
}

h1 {
  font-size: 40px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

label {
  color: #2C3E50;
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #AED6F1; 
  border-radius: 6px;
  font-size: 14px;
  background-color: #FDFEFE; 
  color: #34495E;
}

input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #5DADE2;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2874A6;
}

p {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
  color: white;
}

p a {
  color: yellow; 
  text-decoration: none;
  font-weight: bold;
}

p a:hover {
  text-decoration: underline;
}

textarea{
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #AED6F1; 
  border-radius: 8px;
  background-color: #FDFEFE;
}

.footer {
  background-color:#1F3C88;
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  color: #fff;
  font-size: 14px;
  margin-bottom: 12px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 18px;
  height: 18px;
}
